.error-page-palette {
  --error-page-font-color: var(--gray-700);
  --error-page-gradient-color: var(--gray-10);
  --error-page-stripe-1: var(--gray-200);
  --error-page-stripe-2: var(--gray-10);
  --error-page-error-container: var(--gray-50);
  --error-page-error-number-container: var(--gray-50);
  --error-page-version-container: var(--gray-400);
}
