:root {
  --brand-color: #f69200;
  --orange90: #faaa01;
  --orange80: #fcbc01;
  --yellow: #ffd500;
  --beinge10: #f4efe8;
  --red: #b3261e;
  --green: #4f9c20;
  --00: #ffffff;
  --10: #f3f3f3;
  --15: #ececec;
  --20: #e5e5e5;
  --30: #c0c0c0;
  --40: #a5a5a5;
  --50: #858585;
  --60: #6f6f6f;
  --70: #4a4a4a;
  --80: #333333;
  --90: #252525;
  --100: #1a1919;
}
