body {
  --gray00: rgba(255, 255, 255, 1);
  --dark: rgba(19, 19, 19, 1);

  font-family: 'Roboto Condensed', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--gray00);
  background-color: var(--dark);
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  padding: 2.5rem 1rem 0.75rem;
}

main {
  padding: 1rem;
}

circle, line {
  transition: all 500ms ease-in-out; /* set to 2s to clearly show if it works */
}