@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Grtsk-Peta';
    src: url('../6_shared/assets/fonts/Grtsk-Peta-Regular-Latin-Cyrillic-Severstal.woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Grtsk-Peta';
    src: url('../6_shared/assets/fonts/Grtsk-Peta-Semibold-Latin-Cyrillic-Severstal.woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Grtsk-Peta';
    src: url('../6_shared/assets/fonts/GrtskPeta-Bold.woff2');
    font-weight: 700;
    font-style: normal;
}