apiVersion: v1
kind: Service
metadata:
  name: yagok-ssr-mobile-service
  namespace: {{ K8S_NAMESPACE }}
spec:
  ports:
  - name: yagok-ssr-mobile
    port: 5000
    protocol: TCP
    targetPort: 5000
  selector:
    app: yagok-ssr-mobile
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: v1
kind: Service
metadata:
  name: yagok-ssr-mobile-cache-service
  namespace: {{ K8S_NAMESPACE }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: yagok-ssr-mobile
