:root {
  --primary-base: #1976d2;
  --blue-10: #1976d2;
  --blue-00: #edf2f7;
  --black: #000000;
  --white: #ffffff;
  --green: #82d79f;
  --disabled: #a1b1b8;
  --onsurface: #343838;
  --onsurface-invert: #f9fafa;
  --undersurface: #c1cacf;
  --signal-neutral: #a1b1b8;
  --gray-00: #757575;
  --gray-10: #c8bebe;
  --gray-50: #f9fafa;
  --gray-80: #F0F2F3;
  --gray-100: #e0e5e7;
  --gray-200: #c1cacf;
  --gray-400: #8197a1;
  --gray-500: #607d8b;
  --gray-600: #5b717d;
  --gray-700: #4f5f68;
  --primary-lighter: #f6fafd;
  --primary-light: #b6cfe8;
  --primary-helper: #4dabef;
  --red: #b3261e;
  --error: #d32f2f;
  --list-select: #edf4fb;
}
